/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #E8E8E8;
}
.bodycontacto{
    background: #fff9d6;
}

/* estilo menu barra */
/*barra contacto*/
.nav-contacto{
    background-color:#99A88C;
   
}

.navcontacto__list{
    margin: 0;
    text-align:center;
}
.navcontacto__link{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 30px;
    background-color: #99A88C;
}
.navcontacto__link:hover {
    background-color:#99A88C;
}

.navcontacto__item{
    display: inline-block;
}
/*barra principal*/
.nav{
    background-color:#335C67;
    
}
.nav__list{
    margin: 0;
    text-align:center;
}
.nav__link{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 30px;
    background-color: #335C67;
}

.nav__link:hover {
    background-color:#99A88C;
}

.nav__item{
    display: inline-block;

}
.carousel-image {
   /* width: 50%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    cursor: pointer;/* Cambiar el cursor al pasar sobre la imagen */
}

/*.carousel-container {
text-align: center;
} /* Centrar el carrusel */
.carousel-container {
    width: 100vw; /* 100% del ancho de la ventana */
    height: auto; /* Ajustar la altura automáticamente */
    padding: center;
    text-align: center;

}
#carouselImg {
    width: 500px; /* 100% del ancho del contenedor */
    height: 500px; /* Ajustar la altura automáticamente */
    border:9px solid #99A88C;
  
}
#nextImg{
    width: 500px; /* 100% del ancho del contenedor */
    height: 500px; /* Ajustar la altura automáticamente */
    border:9px solid #99A88C;
    
}

.box {

    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}


/* Estilos del modal en la galeria */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
/* Estilos de la galería */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    margin: 10px;
    cursor: pointer;
    max-width: 300px;
    height: auto;
}
.flexbox{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.flex-item {
    width: 180px;
    background-color:#911;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}
.flex-item:first-child{
    background-color: #d56;
}

footer {
    clear: both; /* Limpiar flotadores */
    width: 100%; /* Ancho completo */
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

button[type="submit"] {
    background-color: #335C67;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

button[type="submit"]:hover {
    background-color: #335C67;
    
}

h1{
    text-align: center;
    color: #99A88C ;
}
h2{
text-align: center;


}
.p-textoinicial{
    color: #335C67;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    margin: 50px;
    border-bottom : 4px solid #99A88C;
    padding: 10px;
    
}

/* pagina articulo*/
.article {
    width: 70%; /* Ancho del contenido del artículo */
    float:right; */
    margin-right: 1%; /* Margen derecho para separar del elemento de la nota */
    text-align: justify;
   
}


.note {
    width: 25%; /* Ancho del elemento de la nota */
    background-color: #f2f2f2; 
    padding: 20px;
    border: 1px solid #ccc; 
    border-radius: 5px;
    text-align: justify;
    
}

/* Estilos para los títulos de la nota y del artículo */
.note h3, .article h2 {
    margin-top: 0; /* Eliminar margen superior */
}
/* selector de galeria de fotos */

.gallery-selector {
    width: 10%; /* Ancho del selector de galería */
    max-width: 600px; /* Ancho máximo del selector de galería */
    margin: 0 auto; /* Centrar horizontalmente */
}
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

/* Estilos para los contenedores de los campos de entrada */
.form-input {
    margin-bottom: 10px;
}

/* Estilos para los campos de entrada del formulario */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

/* Estilos para el botón de envío del formulario */
.btn-enviar {
    padding: 10px 20px;
    background-color: #FFD700; /* Color dorado */
    color: white;
    border: none;
    cursor: pointer;
}

/* Estilos adicionales */
.mb-2 {
    margin-bottom: 20px;
}

.bg-warning {
    background-color: #FF6347; /* Color naranja */
}