/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.carousel-image {
    width: 50%; /* Ajusta el ancho de la imagen al 100% del contenedor */

    cursor: pointer;/* Cambiar el cursor al pasar sobre la imagen */
}
.carousel-container {
text-align: center;
} /* Centrar el carrusel */
