/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
   
}
/* estilo menu barra */
.nav{
    background-color:#48e;
}
.nav__list{
    margin: 0;
    text-align:center;

}
.nav__link{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 30px;
    background-color: #48e;
}

.nav__link:hover {
    background-color:#6af;
}

.nav__item{
    display: inline-block;

}
.carousel-image {
   /* width: 50%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    cursor: pointer;/* Cambiar el cursor al pasar sobre la imagen */
}

/*.carousel-container {
text-align: center;
} /* Centrar el carrusel */
.carousel-container {
    width: 100vw; /* 100% del ancho de la ventana */
    height: auto; /* Ajustar la altura automáticamente */
}
#carouselImg {
    width: 100%; /* 100% del ancho del contenedor */
    height: auto; /* Ajustar la altura automáticamente */
}

.box {

    margin: 10px;
    padding: 20px;
    background-color: #f0f0f0;
    text-align: center;
}


/* Estilos del modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}
/* Estilos de la galería */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.thumbnail {
    margin: 10px;
    cursor: pointer;
    max-width: 300px;
    height: auto;
}
.flexbox{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.flex-item {
    width: 180px;
    background-color:#911;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}
.flex-item:first-child{
    background-color: #d56;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para el formulario de contacto */
form {
    margin-top: 20px;
    text-align: right;
}

label {
    padding: 2px;
    display: block;
    margin-bottom: 1px;
    font-size: 25px;
    text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Para incluir el padding en el ancho total */
}

textarea {
    resize: vertical; /* Permitir redimensionamiento vertical del textarea */
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para el contenedor de mensajes */
#contactForm {
    background-color: rgb(201, 194, 195);
    margin-top: 20px;
    max-width: 500px;
    text-align: center;
}

#contactForm p {
    margin: 0;
    padding: 10px;
}

#contactForm p.success {
    background-color: #4CAF50;
    color: white;
}

#contactForm p.error {
    background-color: #f44336;
    color: white;
}
h2{
text-align: center;


}